body {
	font-family: Arial, sans-serif;
}

.tag {
	padding-left: 8px;
	padding-bottom: 16px;
	padding-right: 8px;
	padding-top: 8px;
	border-left-width: 1px;
	border-bottom-width: 0px;
	border-right-width: 1px;
	border-top-width: 1px;
	margin-bottom: 8px;
	border-color: #e5e5e5;
	min-width: 100px;
    width: 50%;
	display: block;
	border-style: none;
	background-color: #f2f2f2;
}

.tag h2 {
	border-color: #bfbfbf;
	color: #70a2ff;
	border-left-width: 0px;
	border-bottom-width: 1px;
	border-right-width: 0px;
	border-top-width: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	border-style: dotted;
	display: block;
	font-size: 12pt;
	padding: 0px;
}

.content h3 {
	display: inline;
	font-size: 10pt;
}

.content .elements {
	display: inline;
}

.content .elements .element {
	margin: 2px;
	font-size: 10pt;
	display: inline-block;
	padding: 8px;
	background-color: #ffffd1;
}
