body {
  font-family: Arial, sans-serif;
  padding-left: 40px;
  padding-top: 0px;
}

.events {
  background-color: white;
  font-family: "Courier New";
  font-size: 10pt;
  padding: 8px;
  margin: 4px;
  margin-top: 16px;
  display: none;
}

#tags {
  width: 50%;
  margin-top: 40px;
  display: inline-block;
}

#formarea {
  display: inline-block;
  position: fixed;
  left: 52%;
  top: 118px;
  width: 255px;
  padding-top: 0px;
}

#form {
  background-color: #f5f5dc;
  border-radius: 8px;
  background: #e7e7be;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f7f7de), to(#e7e7be));
  background: -moz-linear-gradient(#f7f7de, #e7e7be);
  padding: 16px;
  padding-top: 32px;
  -webkit-box-shadow: #d6d6d6 0px 0px 6px;
  -moz-box-shadow: #d6d6d6 0px 0px 6px;
  box-shadow: #d6d6d6 0px 0px 6px;
}

#form.droppable-state-active {
}

#form.droppable-state-hover {
  background-color: #f1f1d8;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f9f9e0), to(#f1f1d8));
  background: -moz-linear-gradient(#f9f9e0, #f1f1d8);
}

#form form input {
  margin-bottom: 16px;
  padding-bottom: 16px;
}

#notice {
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 16px;
  border: none;
  display: none;
  text-align: center;
}

#notice.error {
  background-color: red;
}

.tag {
	padding-left: 8px;
	padding-bottom: 16px;
	padding-right: 8px;
	padding-top: 8px;
	margin-bottom: 10px;
	min-width: 100px;
	display: block;
    border-radius: 8px;
    background: #f2f2f2;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f9f9f9), to(#ececec));
    background: -moz-linear-gradient(#f9f9f9, #ececec);
    -webkit-box-shadow: #d6d6d6 0px 0px 6px;
    -moz-box-shadow: #d6d6d6 0px 0px 6px;
    box-shadow: #d6d6d6 0px 0px 6px;

}

.tag .eventsarea {
  padding-top: 16px;
  padding-left: 4px;  
}

.tag .eventsarea a {
  font-size: 10pt;
  color:  #a9a9a9;
}

.tag h2 {
	color: #006699;
	margin-left: 0px;
	margin-bottom: 5px;
	margin-right: 0px;
	margin-top: 0px;
	display: block;
	font-size: 12pt;
	padding: 4px;
}

.tag .content {
  padding-left: 4px;
  margin-left: 1px;
}

.tag .content h3 {
	display: inline-block;
	font-size: 10pt;
    font-weight: normal;
    color: #222;
    width: 90px;
    padding: 6px;
    margin: 2px;
    border-left: 1px dotted gray;
    border-bottom: 1px dotted gray;
}

.tag .content .elements {
	display: inline;
    font-family: "Courier New";
    margin-top: -1px;
}

.tag .content .elements .element {
	margin: 2px;
	font-size: 10pt;
	display: inline-block;
	padding: 8px;
	background-color: #ffffd1;
    z-index: 1;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffd1), to(#ffff81));
    background: -moz-linear-gradient(#ffffd1, #ffff81);
}
