<h1>Screen</h1>

<div id="frames">
  <%=
        render :partial => "frame", :locals => { :frames => @frames }
  %>
</div>

<div id="formarea">

  

  <div id="notice"><%=h flash[:notice] %></div>

</div>

<script type="text/javascript" src="/javascripts/screen/show.js"></script>
