<h1>Search the event queue</h1>

<p>
  <label for="q">Search term</label>
  <%= text_field 'search_term', 'q' %>

  <div id="result"></div>

  <a href="#" ondblclick="<%= remote_function :update => 'result', :url => { :action => "events" } %>">Search</a>

</p>
